.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    max-height: 100vh;
}

main {
    width: 20rem;
}

hr {
    width: 100%;
}

h1 {
    text-align: center;
}