img {
    max-width: 100%;
}

pre {
    font-size: 1.2em;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}

.coresBrasil {
    color: black;
    background-color: yellow;
}

.coresFranca {
    color: white;
    background-color: red;
}

.coresMexico {
    color: black;
    background-color: greenyellow;
}

.aDireita {
    text-align: right;
}

.noCentro {
    text-align: center;
}

.execucao {
    background-color: red;
    color: white;
    display: block;
    font-style: italic;
    padding-left: 10px;
}